body {
  color: white;
  padding:.2%;
  margin:0px;
  background-image: linear-gradient(45deg, #c96478 25%, #bd576f 25%, #bd576f 50%, #c96478 50%, #c96478 75%, #bd576f 75%, #bd576f 100%);
  background-size: 16.97px 16.97px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#waiting{
  position: absolute;
  background-color: grey;
  z-index: 3;
  top:0;
  left:0;
  bottom:0;
  right:0;
  margin:auto;
  margin-top:20vh;
  width:30vw;
  height:30vh;
  padding:20px 40px 10px;
  text-align: center;
  display: none;

}
#started{
  position: absolute;
  background-color: grey;
  z-index: 3;
  top:0;
  left:0;
  bottom:0;
  right:0;
  margin:auto;
  margin-top:20vh;
  width:30vw;
  height:30vh;
  padding:20px 40px 10px;
  text-align: center;
  display: none;

}

#startedblack{
  position: absolute;
  background-color: grey;
  z-index: 3;
  top:0;
  left:0;
  bottom:0;
  right:0;
  margin:auto;
  margin-top:20vh;
  width:30vw;
  height:30vh;
  padding:20px 40px 10px;
  text-align: center;
  display: none;

}

.board-tile{
  background-color: rgb(45, 133, 56);
  border-radius: 1vh;
  margin-left:0.5%;
  
  border:0;
  float:left;
  height:100%;
  width:12%;
}

.board-tile > img{
  float:left;
  margin: 0;
  padding:0;
  width: 100%;
  height:100%;
}
.boardrow{
  clear:both;
  height:12%;
  width:99%;
  margin-bottom:.5%;
}
#game-board{
  height:95vh;
  width:95vh;
  background-color: black;
  border-radius:1.5vh;
  padding:2vh;
  margin:auto;
}
#inner-game-board{
  background-color:#324423;
  width:100%;
  height:100%;
}
.outer-time-panel{
  margin:auto;
  margin-top:3vh;
  width: 40vh;
  height:18vh;
  border-radius: 2vh;
  padding-top:5%;
}
.inner-time-panel{
  margin:auto;
  height:80%;
  width:90%;
  border-radius:1vh;
}
#left-panel .outer-time-panel{
  background: linear-gradient(#FFFFFF,#888888);
}
#left-panel .inner-time-panel{
  background: linear-gradient(#888888,#FFFFFF);
  
}
#right-panel .outer-time-panel{
  background: linear-gradient(#1a1a1a,#000000);
}
#right-panel .inner-time-panel{
  background: linear-gradient(#000000,#1a1a1a);
  
}
#right-panel{
  margin:0;
  padding:0;
}
#wrapper{
  min-height:100%;
  display: grid;
  grid-template-columns:25% 50% 25%;
}
#left-score{
  clear:both;
  font-size:9vw;
  position: absolute;
  bottom: 20px;
  width:auto;
  margin: auto;
}
#right-score{
  clear:both;
  font-size:9vw;
  position: absolute;
  bottom: 20px;
  width:auto;
  margin: auto;
}
#left-arrow{
  position:absolute;
  bottom:150px;
  width:auto;
  margin:auto;
}
#right-arrow{
  position:absolute;
  bottom:150px;
  width:auto;
  margin:auto;
  display:none;
}
#left-score img{
  float: right;
  bottom: 20px;
}
#right-score img{
  float: right;
  bottom: 20px;
}
#leftarrow img{
  
}
#rightarrow img{
 
  
}
